<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ngapham.com.vnocr"
    android:versionCode="8"
    android:versionName="1.5.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    
    <!-- required for copying data to sdcard -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- Include required permissions for Google Mobile Ads to run-->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Splash Screen -->
<!--         <activity 
            android:name="ngapham.com.vnocr.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            
        </activity> -->
        
        <!-- Main Activity -->
        <activity
            android:name="ngapham.com.vnocr.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Recognize Activity -->
        <activity
            android:name="ngapham.com.vnocr.RecognizeFragment"
            android:label="@string/app_name" 
            android:parentActivityName="ngapham.com.vnocr.MainActivity" >
        </activity>
        
        <!--  Ad Activity -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <!--Include the AdActivity configChanges and theme. -->
        <activity 
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|"
            android:theme= "@android:style/Theme.Translucent" />
    </application>
	 
</manifest>
